@use '@style/variables.scss'as variables;

.audi-main-container {
  width: 100%;
  height: 90%;
  padding: 30px 20px;
  box-sizing: border-box;

  .audi-main-content {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 30px;

    border: 2px solid variables.$border-color;
    border-radius: 5px;
    background-color: variables.$black-color;

    & audi-main-aside-content{
      width: 250px;
    }

    .main-track-content-area{
      width: calc(100% - 250px);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between  ;
    }
  }

  .cursor-change {
      cursor: url("https://user-images.githubusercontent.com/7006837/100991542-73da8780-3596-11eb-84fc-de0de7494be8.png") 7 12, auto !important;
      & * {
        cursor: url("https://user-images.githubusercontent.com/7006837/100991542-73da8780-3596-11eb-84fc-de0de7494be8.png") 7 12, auto !important;
      }
  }
}


