@use '@style/variables.scss' as variables;

audi-audio-track:not(:defined) {
    display: hidden;
}

.audio-track-container{
    position: relative;
    width: 100%;
    min-height: 150px;
    padding: 10px 0px;
    background-color: variables.$black-color;
    box-sizing: border-box;

    .audio-track-area{
        display: flex;
        flex-wrap: nowrap;
        padding: 10px 0px;
        position: relative;
        min-height: 175px;
        border-top: 1px solid variables.$border-color-navy;
        border-bottom: 1px solid variables.$border-color-navy;
        box-sizing: border-box;
        overflow: visible;
        
        .cut-line {
            position: absolute;
            width: 1px;
            height: calc(100% - 26px);

            top:10px;
            left: 0px;
            z-index: 999;

            pointer-events: none;
        }
        .cut-line-border{
                position: relative;
                width: 1px;
                height: 100%;
                border-left: 1px dashed variables.$text-color;
            }

        .cut-line-cursor-time{
                    position: absolute;
                    font-size: 14px;
                    bottom: -1.5rem;
                    text-align: center;
                    right: -28px;
                }

        .audio-track-afterimage {
            display:none;
            height: calc(100% - 20px);
            border-radius: 5px;
            top:10px;
            left: 0px;
            border: 1px dashed variables.$afterimage-border;
            background-color: variables.$afterimage-color;
            position: absolute;
            pointer-events: none;
        }

        .track-select-line {
            position: absolute;
            display:none;
            width: 1px;
            height: 100%;

            top:0;
            left: 0px;
            border-left: 1px dashed variables.$text-color;
            z-index: 999;

            pointer-events: none;
        }
    }
    
    &:last-of-type{
        margin-bottom: 0;
    }

    .audio-track-message{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        text-align:center;
        z-index: 50;
        pointer-events: none;
        span{
            color:rgb(158, 158, 158)
        }
    }
}

@media screen and (max-width: 1680px) {
    .audio-track-container{
        min-height: 100px;
        padding: 5px 0;
    
        .audio-track-area{
            min-height: 125px;
        }
    }
}
