@import '@style/variables';

audi-audio-track:not(:defined) {
    display: hidden;
}

.audio-track-container{
    position: relative;
    width: 100%;
    min-height: 150px;
    padding: 10px 0px;
    background-color: #000000;
    box-sizing: border-box;

    .audio-track-area{
        display: flex;
        flex-wrap: nowrap;
        padding: 10px 0px;
        position: relative;
        min-height: 175px;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        box-sizing: border-box;
        overflow: visible;
        
        .audio-track-dropzone{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(60,60,60, 0.4);
            border: 1px dotted #ffffff;
            z-index: 100;
            
            &.focus{
                background-color: rgba(43, 130, 211, 0.5);
                box-shadow: rgb(43, 130, 211) 0 0 15px 5px;
            }
        }
        .cut-line {
            position: absolute;
            width: 1px;
            height: 100%;

            top:0;
            left: 0px;
            border-left: 1px dashed white;
            z-index: 999;

            pointer-events: none;
        }

        .audio-track-afterimage {
            display:none;
            height: calc(100% - 20px);
            border-radius: 5px;
            top:10px;
            left: 0px;
            border: 1px dashed gray;
            background-color: rgba(40,40,40, 0.5);
            position: absolute;
            pointer-events: none;
        }
    }
    
    &:last-of-type{
        margin-bottom: 0;
    }

    .audio-track-message{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        text-align:center;
        z-index: 50;
        pointer-events: none;
        span{
            color:rgb(158, 158, 158)
        }
    }
}

@media screen and (max-width: 1680px) {
    .audio-track-container{
        min-height: 100px;
        padding: 5px 0;
    
        .audio-track-area{
            min-height: 125px;
        }
    }
}
