@use '@style/variables' as variables;

.playbar-marker {
  width: 3px;
  height: 2rem;
  position: absolute;
  background-color: variables.$blue-color;
  border-radius: 2px;

  top: -0.2rem;
  left: 0px;

  cursor: pointer;

  z-index: 4;
}
