@use '@style/variables.scss'as variables;

.zoom-rate-info {
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  margin: auto 25px auto 10px;
  padding: 0 5px;
  
  border: 2px solid variables.$border-color;
  border-radius: 6px;
  
  & .zoom-rate-percentage {
    margin: auto 5px;
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: variables.$blue-color;
  } 
}

.zoom-rate-info > audi-icon-button {
  margin: 0 5px;
}

.zoom-rate-info > audi-icon-button:hover {
  path {
      fill: variables.$white-color;
    }
}