$theme-color: rgb(40,40,40);
$inactive-color: rgb(201, 184, 184);

$black-color: rgb(6,9,15);
$blue-color: rgb(88,166,255);
$white-color: rgb(201,209,217);
$navy-color: rgb(13,17,23);
$darkblue-color: rgb(33,73,129);
$green-color: rgb(46,160,67);
$gray-color: rgb(22,27,34);


$background-color-navy: rgb(18,29,47);
$border-color-navy: rgb(30,66,115);
$source-color: rgb(32,37,44);
$border-color: rgb(48,54,61);
$disabled-color: rgb(110,118,129);
$text-color: $white-color;
$background-color: $navy-color;
$header-color: $gray-color;
$afterimage-color: rgba(88,166,255, 0.1);
$afterimage-border: $darkblue-color;
$scroll-color: $darkblue-color;
