@use '@style/variables.scss'as variables;

#editor-menu {
  display: flex;
}

.icon-wrap {
  display:flex;
  justify-content: space-around;
  height: 50px;
  margin: auto 10px;
  padding: 0 5px;
  
  border: 2px solid variables.$border-color;
  border-radius: 6px;
  
  &:last-of-type{
    margin-right: 20px;
  }
}

.icon-wrap > audi-icon-button {
  margin: auto 5px;
}


#user-menu{
  cursor:pointer;
}

#user-menu:hover {
  svg > path {
    fill: #ffffff
  }
}

@media screen and (max-width: 1680px) {
  #editor-menu {
    audi-icon-button{
      svg{
        width: 25px !important;
      }
    }
  }
}


