@use '@style/variables.scss'as variables;

side-bar:not(:defined) {
    display: hidden;
}

#sidebar {
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100%;
    width:100%;

    border-radius: 5px;
    background-color: variables.$black-color;
}

.sidebar-child {
    width:100%;
    height: 100%;
}

.sidebar-source-list {
    width: 100%;
    height:100%;
}

.sidebar-time-info {
    width: 100%;
    height:15%;

    margin-bottom: 10px;
}
