audi-main-track-content{
    width: 100%;
    height: calc(100% - 80px);

    .audi-main-audio-track-container {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        overflow: hidden;

        .audi-main-track-left{
          width: 80px;
          margin: 0 15px;

          .audi-main-before-track-option{
            height: 28.8px;
          }
        }

        .audi-main-track-right{
          position: relative;
          width: calc(100% - 110px);
          height: 90%;

          .audi-main-audio-track-container-event-zone {
            position: absolute;
            width: 100%;
            height: 95%;
      
            top: 2rem;
            left: 0;
      
            z-index: 90;
          }
        }
        
        .audi-main-right-bottom{
          height: 10%;
        }
    }
}
