@use '@style/variables' as variables;

.marker {
  position: absolute;
  width: 1px;
  height: 100%;

  left: 0px;
  border-left: 1px dashed variables.$blue-color;
  z-index: 999;
  box-shadow: 0px 0px 9px variables.$blue-color;

  pointer-events: none;
}
