@use '@style/variables.scss' as variables;

audi-icon-button {
  cursor: pointer;
}

.icon:hover {
  path {
    fill: variables.$blue-color;
  }
}

.disabled {
    pointer-events: none !important;

    path {
      fill: variables.$disabled-color;
    }
}

.selected {
  path {
      fill: variables.$blue-color;
    }
}

.icon-buttion-wrap {
  position: relative;
  &:hover {
    .icon-info{
      transition-property: visibility;
      transition-delay: 0.3s;
      visibility: visible;
    }
  }
}
.icon-info {
  visibility: hidden;
  position:absolute;
  width: fit-content;
  left: -100%;
  height: 2rem;
  padding: 3px 10px;
  z-index: 1000;
  
  border: 1px solid variables.$border-color;
  border-radius: 5px;
  background-color: variables.$navy-color;

  white-space:nowrap;
  font-size: 15px;
}