@use '@style/variables.scss' as variables;

.icon:hover {
  path {
    fill: variables.$green-color;
  }
}

.disabled {
    pointer-events: none !important;

    path {
      fill: gray
    }
}

.selected {
  path {
      fill: variables.$green-color
    }
}