audi-main-track-option-list-area{
    width: 80px;
    height: 90%;

    .audi-main-track-option-area{
        // display: flex;
        // flex-direction: column;
        width: 80px;
        height: 90%;
        // margin-top: 1.8rem;

        overflow-y: hidden;
        -ms-overflow-style: none; 
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display: none; 
        }
    }
}
