@use '@style/variables' as variables;

.marker {
  position: absolute;
  width: 1px;
  height: 90%;

  left: 0px;
  border-left: 1px dashed variables.$blue-color;
  z-index: 999;

  pointer-events: none;
}
