@use '@style/variables' as variables;

.marker {
  position: absolute;
  width: 1px;
  height: 100%;

  left: 4px;
  border-left: 3px dashed variables.$green-color;
  z-index: 999;

  pointer-events: none;
}
