$baseColor: #212121;
$borderColor: #e0e0e0;
$greenColor: #03c75a;

%modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  width: 90%;
}

%modal-button {
  width: 25%;
  height: 2rem;

  color: #ffffff;
  border: 1px solid $borderColor;
  border-radius: 3px;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  height: 60%;

  color: #ffffff;
  background-color: $baseColor;
  border: 2px solid $borderColor;
  border-radius: 5px;

  text-align: center;
}

.modal-component {
  width: 100%;
}
modal-buttons {
  width: 100%;
}

.source-upload-buttons {
  @extend %modal-buttons;

  .modal-green-button {
    @extend %modal-button;
    margin-right: 0.5rem;
    background-color: $greenColor;
  }

  .modal-close-button {
    @extend %modal-button;
    margin-left: 0.5rem;
    background-color: $baseColor;
  }
}
