@use '@style/variables.scss'as variables;

.audio-track-option-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 10px;
    margin: 20px 10px;
    border: 1px solid variables.$white-color;
    border-radius: 3px;
    color: variables.$white-color;
    box-sizing: border-box;
    cursor: pointer;

    &:first-of-type{
        margin-top: 10px;
    }

    li{
        margin-bottom: 10px;

        &:hover{
            color: variables.$green-color;
        }

        &.clicked{
            color: variables.$green-color;
        }
    }
}

@media screen and (max-width: 1280px) {
    .audio-track-option-container{
        height: 100px;

        li{
            span{
                font-size: 12px;
            }
        }
    }
}
