$baseColor: #212121;
$borderColor: #e0e0e0;
$greenColor: #03c75a;

.source-upload-content {
  border: 1px solid $borderColor;
  width: 90%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hide-source-upload-content {
  display: none;
}
