#header {
  display: flex;
  justify-content: space-around;
  height: 80px;
  
  border-bottom: 1px solid white;
  background-color: rgb(40,40,40);
}

audi-logo {
  margin: auto auto auto 30px;
}

audi-editor-menu {
  margin: auto 0;
}
