@use '@style/variables.scss'as variables;

#header {
  display: flex;
  justify-content: space-around;
  height: 80px;
  
  border-bottom: 2px solid variables.$border-color;
  background-color: variables.$header-color;
}

#editor-menu {
  display: flex;
  margin: auto 0;
}

@media screen and (max-width: 1680px) {
  #editor-menu {
    audi-icon-button{
      svg{
        width: 25px !important;
      }
    }
  }
}


audi-logo {
  margin: auto auto auto 30px;
}

.icon-wrap {
  display:flex;
  justify-content: space-around;
  height: 50px;
  margin: auto 10px;
  padding: 0 5px;
  
  border: 2px solid variables.$border-color;
  border-radius: 6px;
  
  &:last-of-type{
    margin-right: 20px;
  }
}

.icon-wrap  > audi-icon-button {
  margin: auto 5px;
}