#header {
  display: flex;
  height: 80px;
  
  border-bottom: 1px solid white;
  background-color: rgb(40,40,40);
  
  justify-content: space-around;
}

logo-component {
  margin: auto auto auto 30px;
}

editor-menu {
  margin: auto 0;
}
