#header {
  height: 80px;
  background-color: rgb(40,40,40);
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;
  
}

logo-component {
  margin: auto auto auto 30px;
}

editor-menu {
  margin: auto 0;
}

