audi-main-playbar-scroll-area{
    width: 100%;

    .main-playbar-scroll-area-container{
        position: relative;
        overflow-x: scroll;
        overflow-y: hidden;

        -ms-overflow-style: none; 
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display: none; 
        }
    }
}

